.container {
  height: 80px;
}

.label {
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.input {
  width: 327px;
  height: 52px;
  outline: none;
  border: 1px solid #d6d6d6;
  background: white;
  border-radius: 8px;
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
}
