.container {
  height: 80px;
}

.label {
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.inputContainer {
  width: 327px;
  height: 52px;
  outline: none;
  border: 1px solid #d6d6d6;
  background: white;
  border-radius: 8px;
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  flex-direction: space-between;
  gap: 8px;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #101010;
}

.eye {
  outline: none;
  border: none;
  background: transparent;
  width: 16px;
  height: 15px;
}

/* <div className={cls.containre}>
<label className={cls.label} htmlFor={name}>
  {label}
</label>
<div className={cls.inputContainer}>
  <input
    className={cls.input}
    name={name}
    id={name}
    placeholder={placeholder}
    value={value}
    type="password"
    onChange={(e) => onChange(e)}
  />

  <button className={cls.eye}>
    <Image width={15} height={15} src="/eye.svg" />
  </button>
</div>
</div>
);
} */
